/*------------------------------------*\
	MAIN
\*------------------------------------*/
html{
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	color:#e4eef6;
	background: url('../img/noise.png') #63599B;
	background: -moz-linear-gradient(top, #7259A0, #201F33) fixed;
	background: -ms-linear-gradient(top, #7259A0, #201F33) fixed;
	background: -o-linear-gradient(top, #7259A0, #201F33) fixed;
	background: -webkit-gradient(linear, left top, left bottom, from(#7259A0), to(#201F33)) fixed;
	background: -webkit-linear-gradient(top, #7259A0, #201F33) fixed;
	background: linear-gradient(top, #7259A0, #201F33) fixed;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7259A0', EndColorStr='#201F33'); 
	background: url('../img/noise.png'), -moz-linear-gradient(top, #7259A0, #201F33) fixed;
	background: url('../img/noise.png'), -ms-linear-gradient(top, #7259A0, #201F33) fixed;
	background: url('../img/noise.png'), -o-linear-gradient(top, #7259A0, #201F33) fixed;
	background: url('../img/noise.png'), -webkit-gradient(linear, left top, left bottom, from(#7259A0), to(#201F33)) fixed;
	background: url('../img/noise.png'), -webkit-linear-gradient(top, #7259A0, #433668) fixed;
	background: url('../img/noise.png'), linear-gradient(top, #7259A0, #433668) fixed;
}
body{
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
	text-shadow:0 -1px 0 rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.25);
}
#main{
	margin-bottom: 25px;
}
#info{
	margin-top:100px;
}
#info p{
	font-size:1.2em;
}
#info strong{
	color:white;
}
#info small{
	display:block;
	color:#c4ced6;
	padding: 0 0 5px 10px;
}
#ribbon {
	position:absolute;
	top:0;
	right:0;
	width:149px;
	height:149px;
}
.centred li,
.centered li{
	padding:0 12px;
}
.centred li:first-of-type,
.centered li:first-of-type{
	padding-left:0;
}
.centred li:after,
.centred li::after,
.centered li:after,
.centered li::after{
	content:"•";
	position: absolute;
	margin-left: 10px;
	margin-top: 1px;
}
.centred li:last-of-type:after,
.centred li:last-of-type::after,
.centered li:last-of-type:after,
.centered li:last-of-type::after{
	content:"";
}

/*------------------------------------*\
	NAV EFFECT
\*------------------------------------*/
nav {
	height:30px;
	padding-bottom:5px;
	background-image: -webkit-gradient(radial, center 130, 0, center 130, 130, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
}
nav:before {
	content:"";
	display:block;
	height:1px;
	width:200px;
	margin:-1px auto 0;
	position:relative;
	top:34px;
	background:white;
	background:rgba(255,255,255,0.5);
	background: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
	background: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
	background: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
	background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(0.5, rgba(255, 255, 255, 0.5)), to(rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
	background: linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25);
	box-shadow:0 1px 3px rgba(0,0,0,0.25);
}
nav:after {
	content:"";
	display:block;
	height:20px;
	margin-top:-13px;
	background-image: -webkit-gradient(radial, center -380, 300, center -380, 400, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
}
footer {
	height:30px;
	padding-top:5px;
	background-image: -webkit-gradient(radial, center -100, 0, center -100, 130, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
}
footer:before {
	content:"";
	display:block;
	height:20px;
	margin-top:-25px;
	margin-bottom:5px;
	background-image: -webkit-gradient(radial, center 400, 300, center 400, 400, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
}
footer:after {
	content:"";
	display:block;
	height:1px;
	width:200px;
	margin:-53px auto 0;
	background:white;
	background:rgba(255,255,255,0.5);
	background: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
	background: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
	background: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
	background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(0.5, rgba(255, 255, 255, 0.5)), to(rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
	background: linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25);
	box-shadow:0 1px 3px rgba(0,0,0,0.25);
}

/*------------------------------------*\
	BUTTONS
\*------------------------------------*/
#buttons a, #buttons a:visited {
	display:inline-block;
	margin:15px 0 10px;
	padding:12px 0 13px;
	-moz-border-radius:6px; 
	-webkit-border-radius:6px;
	border-radius:6px;
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	box-shadow:0 1px 3px rgba(0,0,0,0.5);
	border-bottom:1px solid rgba(0,0,0,0.25);
	cursor:pointer;
	font-size:1.5em;
	font-weight:bold;
	text-align:center;
	line-height:1;
	text-shadow:0 -1px 1px rgba(0,0,0,0.25);
}
#buttons a:hover {
	background-color:#111;
	color:#fff;
	text-decoration:none;
	-moz-box-shadow: 0 0 10px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0 0 10px rgba(255,255,255,0.5);
	box-shadow: 0 0 10px rgba(255,255,255,0.5);
	-moz-box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 1px 3px rgba(0,0,0,0.5);
}
#buttons a:focus {
	background-color:#111;
	color:#fff;
	-moz-box-shadow: 0 0 10px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0 0 10px rgba(255,255,255,0.5);
	box-shadow: 0 0 10px rgba(255,255,255,0.5);
	-moz-box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 1px 3px rgba(0,0,0,0.5);
}
.boxshadow #buttons a:focus {
	outline: 0;
}
#download a, #download a:visited {
	background: url(../img/noise.png) #5ba027;
	background: -moz-linear-gradient(top, #84c63c, #4b9817);
	background: -ms-linear-gradient(top, #84c63c, #4b9817);
	background: -o-linear-gradient(top, #84c63c, #4b9817);
	background: -webkit-gradient(linear, left top, left bottom, from(#84c63c), to(#4b9817));
	background: -webkit-linear-gradient(top, #84c63c, #4b9817);
	background: linear-gradient(top, #84c63c, #4b9817);
	background: url(../img/noise.png), -moz-linear-gradient(top, #84c63c, #4b9817);
	background: url(../img/noise.png), -ms-linear-gradient(top, #84c63c, #4b9817);
	background: url(../img/noise.png), -o-linear-gradient(top, #84c63c, #4b9817);
	background: url(../img/noise.png), -webkit-gradient(linear, left top, left bottom, from(#84c63c), to(#4b9817));
	background: url(../img/noise.png), -webkit-linear-gradient(top, #84c63c, #4b9817);
	background: url(../img/noise.png), linear-gradient(top, #84c63c, #4b9817);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#84c63c', EndColorStr='#4b9817');
}
#download a:hover {
	background: url(../img/noise.png) #7bb947;
	background: -moz-linear-gradient(top, #8BE041, #50B319);
	background: -ms-linear-gradient(top, #8BE041, #50B319);
	background: -o-linear-gradient(top, #8BE041, #50B319);
	background: -webkit-gradient(linear, left top, left bottom, from(#8BE041), to(#50B319));
	background: -webkit-linear-gradient(top, #8BE041, #50B319);
	background: linear-gradient(top, #8BE041, #50B319);
	background: url(../img/noise.png), -moz-linear-gradient(top, #8BE041, #50B319);
	background: url(../img/noise.png), -ms-linear-gradient(top, #8BE041, #50B319);
	background: url(../img/noise.png), -o-linear-gradient(top, #8BE041, #50B319);
	background: url(../img/noise.png), -webkit-gradient(linear, left top, left bottom, from(#8BE041), to(#50B319));
	background: url(../img/noise.png), -webkit-linear-gradient(top, #8BE041, #50B319);
	background: url(../img/noise.png), linear-gradient(top, #8BE041, #50B319);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#8BE041', EndColorStr='#50B319');
}
#donate a, #donate a:visited {
	background: url(../img/noise.png), #A17827;
	background: -moz-linear-gradient(top, #C78D3C, #997217); 
	background: -ms-linear-gradient(top, #C78D3C, #997217); 
	background: -o-linear-gradient(top, #C78D3C, #997217); 
	background: -webkit-gradient(linear, left top, left bottom, from(#C78D3C), to(#997217)); 
	background: -webkit-linear-gradient(top, #C78D3C, #997217); 
	background: linear-gradient(top, #C78D3C, #997217);
	background: url(../img/noise.png), -moz-linear-gradient(top, #C78D3C, #997217); 
	background: url(../img/noise.png), -ms-linear-gradient(top, #C78D3C, #997217); 
	background: url(../img/noise.png), -o-linear-gradient(top, #C78D3C, #997217); 
	background: url(../img/noise.png), -webkit-gradient(linear, left top, left bottom, from(#C78D3C), to(#997217)); 
	background: url(../img/noise.png), -webkit-linear-gradient(top, #C78D3C, #997217); 
	background: url(../img/noise.png), linear-gradient(top, #C78D3C, #997217);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#C78D3C', EndColorStr='#997217'); 
}
#donate a:hover {
	background: url(../img/noise.png), #BA9247;
	background: -moz-linear-gradient(top, #E0A641, #B38C19); 
	background: -ms-linear-gradient(top, #E0A641, #B38C19); 
	background: -o-linear-gradient(top, #E0A641, #B38C19); 
	background: -webkit-gradient(linear, left top, left bottom, from(#E0A641), to(#B38C19)); 
	background: -webkit-linear-gradient(top, #E0A641, #B38C19); 
	background: linear-gradient(top, #E0A641, #B38C19);
	background: url(../img/noise.png), -moz-linear-gradient(top, #E0A641, #B38C19); 
	background: url(../img/noise.png), -ms-linear-gradient(top, #E0A641, #B38C19); 
	background: url(../img/noise.png), -o-linear-gradient(top, #E0A641, #B38C19); 
	background: url(../img/noise.png), -webkit-gradient(linear, left top, left bottom, from(#E0A641), to(#B38C19)); 
	background: url(../img/noise.png), -webkit-linear-gradient(top, #E0A641, #B38C19); 
	background: url(../img/noise.png), linear-gradient(top, #E0A641, #B38C19);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#E0A641', EndColorStr='#B38C19'); 
}

/*------------------------------------*\
	TYPE
\*------------------------------------*/
h1{
	font-weight:bold;
	font-size:3em;
	line-height:1;
	letter-spacing: 1px;
}
a{
	color:inherit;
}
a:hover {
	color:white;
}
hr{
	display:block;
	margin:20px auto;
	height:1px;
	width:200px;
	border:0;
	background:white;
	background:rgba(255,255,255,0.5);
	background: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
	background: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
	background: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
	background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(0.5, rgba(255, 255, 255, 0.5)), to(rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
	background: linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25);
	box-shadow:0 1px 3px rgba(0,0,0,0.25);
}
::-moz-selection {
	background:white;
	color:black;
	text-shadow:none;
}
::selection {
	background:white;
	color:black;
	text-shadow:none;
}

/*------------------------------------*\
	IMAGES
\*------------------------------------*/
#logo{
	position:relative;
	font-size:4em;
}
#shimmer {
	display:block;
	position:absolute;
	width:61%;
	height:48%;
	line-height:3.75em;
	margin:32.5% 0 0 20%;
	border-radius:70px/45px;
	background-image:url(../img/static-noise.gif);
	background-image:-webkit-gradient(radial, center center, 50, center center, 175, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1))), url(../img/static-noise.gif);
	opacity:0.75;
	color:#0AF;
	-webkit-text-stroke:1px black;
	text-align:center;
}
#shimmer:active,
#shimmer:focus{
	top:0px;
}
#main a{
	color: #E0DB34;
}
#screenshots ul{
	overflow:visible;
}
#screenshots li{
	overflow:visible;
	margin-bottom:20px;
}
#screenshots a:active,
#screenshots a:focus{
	top:0;
}
#screenshots img{
	border:solid 6px #87a;
	border:solid 6px rgba(255,255,255,0.2);
	border-radius:6px;
	height:98px;
	width:208px;
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	box-shadow:0 1px 3px rgba(0,0,0,0.5);
	-moz-transition:all 0.1s ease-out;
	-o-transition:all 0.1s ease-out;
	-webkit-transition:all 0.1s ease-out;
	-ms-transition:all 0.1s ease-out;
	transition:all 0.1s ease-out;
}
#screenshots a:hover img{
	border:solid 6px #87a;
	border:solid 6px rgba(255,255,255,0.5);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
#screenshots a:active img,
#screenshots a:focus img{
	top:1px;
}

/*------------------------------------*\
	SOCIAL
\*------------------------------------*/
#social {
	min-height: 310px;
}
.twtr-widget {
	margin: 0 0 20px;
}
#tweets .twtr-widget p {
	font-size: 1.2em;
	line-height: 1.33em !important;
}
.twtr-hd,
.twtr-ft,
.twtr-user {
	display: none !important;
}
.twtr-bd {
	padding: 0 !important;
}
.twtr-widget * {
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
.twtr-widget .twtr-tweet {
	width: 230px;
	height: 120px;
	float: left;
	border-bottom: 0 none !important;
}
.twtr-avatar {
	padding-top: 5px;
}
.twtr-img img {
	border:solid 3px #87a;
	border:solid 3px rgba(255,255,255,0.2);
	border-radius:3px;
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	box-shadow:0 1px 3px rgba(0,0,0,0.5);
}
.tumblr_body {
	display: none;
}
#tumblr ul {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}
#tumblr a {
	color: #E0DB34 !important;
}
#tumblr li:nth-child(1) {
	font-size: 1.3em;
	opacity: 1;
}
#tumblr li:nth-child(2) {
	font-size: 1.2em;
	opacity: 0.95;
}
#tumblr li:nth-child(3) {
	font-size: 1.1em;
	opacity: 0.9;
}
#tumblr li:nth-child(4) {
	font-size: 1em;
	opacity: 0.85;
}
#tumblr li:nth-child(5) {
	font-size: 0.95em;
	opacity: 0.8;
}
#tumblr li:nth-child(6) {
	font-size: 0.9em;
	opacity: 0.75;
}
#tumblr li:nth-child(7) {
	font-size: 0.85em;
	opacity: 0.7;
}
#tumblr li:nth-child(8) {
	font-size: 0.8em;
	opacity: 0.65;
}
#tumblr li:nth-child(9) {
	font-size: 0.75em;
	opacity: 0.6;
}
#tumblr li:nth-child(10) {
	font-size: 0.7em;
}

/*------------------------------------*\
	NARROW
\*------------------------------------*/
/*
CSS for tablets and narrower devices
*/

@media (min-width: 721px) and (max-width: 960px){
	#logo{
		margin-top:70px;
		font-size:2em;
		position:relative;
	}
	#shimmer {
		width:53%;
		margin:30% 0 0 22%;
		border-radius:35px/22px;
		background-image:-webkit-gradient(radial, center center, 25, center center, 85, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1))), url(../img/static-noise.gif);
	}
	#screenshots img{
		height:110px;
		width:148px;
	}
	#info{
		margin-top:30px;
	}
	header .grid-7 {
		width:385px;
	}
	header .grid-9 {
		width:295px;
	}
	footer {
		margin-top:30px;
	}
	#buttons .grid-4 {
		width:205px;
	}
	#buttons .grid-3 {
		width:160px;
	}
	.twtr-doc {
		width: 340px !important;
	}
	.twtr-widget .twtr-tweet {
		width: 170px;
		height: 140px;
	}
}
/*--- END NARROW ---*/

/*------------------------------------*\
	MOBILE
\*------------------------------------*/
/*
CSS for mobile devices.
Linearise it!
*/

@media (max-width: 720px){
	body{
		font-size:0.75em;
	}
	#logo{
		font-size:1.333em;
		height:128px;
		position:relative;
	}
	#logo img{
		width:128px;
		height:128px;
	}
	#shimmer {
		position:absolute;
		width:78px;
		margin:30% 0 0 51%;
		left:-39px;
		border-radius:17px/11px;
		background-image:-webkit-gradient(radial, center center, 15, center center, 50, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1))), url(../img/static-noise.gif);
	}
	#info{
		margin-top:0;
	}
	#ribbon{
		display:none;
	}
	h1,
	#buttons,
	#screenshots{
		text-align:center;
	}
	nav {
		width:230px;
		height:40px;
		margin:0 auto 15px;
		background-image: -webkit-gradient(radial, center 130, 0, center 130, 120, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
	}
	nav:before {
		top:44px;
	}
	nav:after {
		margin-top:-18px;
	}
	nav li:nth-child(3):after,
	nav li:nth-child(3)::after{
		content:"";
	}
	footer {
		margin-top:30px;
	}
	footer:after {
		margin-top:-47px;
	}
	.twtr-doc {
		width: 100% !important;
	}
	.twtr-widget .twtr-tweet {
		width: 100%;
		height: auto;
	}
}
/*--- END MOBILE ---*/
