/*------------------------------------*\
	MAIN
\*------------------------------------*/
html{
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	color:#e4eef6;
	background: url('../img/noise.png') #63599B;
	background: -moz-linear-gradient(top, #7259A0, #201F33) fixed;
	background: -ms-linear-gradient(top, #7259A0, #201F33) fixed;
	background: -o-linear-gradient(top, #7259A0, #201F33) fixed;
	background: -webkit-gradient(linear, left top, left bottom, from(#7259A0), to(#201F33)) fixed;
	background: -webkit-linear-gradient(top, #7259A0, #201F33) fixed;
	background: linear-gradient(top, #7259A0, #201F33) fixed;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7259A0', EndColorStr='#201F33'); 
	background: url('../img/noise.png'), -moz-linear-gradient(top, #7259A0, #201F33) fixed;
	background: url('../img/noise.png'), -ms-linear-gradient(top, #7259A0, #201F33) fixed;
	background: url('../img/noise.png'), -o-linear-gradient(top, #7259A0, #201F33) fixed;
	background: url('../img/noise.png'), -webkit-gradient(linear, left top, left bottom, from(#7259A0), to(#201F33)) fixed;
	background: url('../img/noise.png'), -webkit-linear-gradient(top, #7259A0, #433668) fixed;
	background: url('../img/noise.png'), linear-gradient(top, #7259A0, #433668) fixed;
}
body{
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
	text-shadow:0 -1px 0 rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.25);
}
#info{
	margin-top:100px;
}
#info p{
	font-size:1.2em;
}
#info strong{
	color:white;
}
#info small{
	display:block;
	color:#c4ced6;
	padding: 0 0 5px 10px;
}
#ribbon {
	position:absolute;
	top:0;
	right:0;
}
.centred li,
.centered li{
	padding:0 12px;
}
.centred li:after,
.centred li::after,
.centered li:after,
.centered li::after{
	content:"•";
	position: absolute;
	margin-left: 10px;
	margin-top: 1px;
}
.centred li:last-of-type:after,
.centred li:last-of-type::after,
.centered li:last-of-type:after,
.centered li:last-of-type::after{
	content:"";
}

/*------------------------------------*\
	NAV EFFECT
\*------------------------------------*/
nav {
	height:30px;
	padding-bottom:5px;
	background-image: -webkit-gradient(radial, center 130, 0, center 130, 130, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
}
nav:before {
	content:"";
	display:block;
	height:1px;
	width:200px;
	margin:-1px auto 0;
	position:relative;
	top:34px;
	background:white;
	background:rgba(255,255,255,0.5);
	background: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0)) fixed;
	background: -ms-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0)) fixed;
	background: -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0)) fixed;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), color-stop(0.5, rgba(255, 255, 255, 0.5)), to(rgba(255,255,255,0))) fixed;
	background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0)) fixed;
	background: linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0)) fixed;
	background: -webkit-gradient(radial, center center, 0, center center, 100, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
}
nav:after {
	content:"";
	display:block;
	height:20px;
	margin-top:-13px;
	background-image: -webkit-gradient(radial, center -380, 300, center -380, 400, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
}
footer {
	height:30px;
	padding-top:5px;
	background-image: -webkit-gradient(radial, center -100, 0, center -100, 130, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
}
footer:before {
	content:"";
	display:block;
	height:20px;
	margin-top:-25px;
	margin-bottom:5px;
	background-image: -webkit-gradient(radial, center 400, 300, center 400, 400, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
}
footer:after {
	content:"";
	display:block;
	height:1px;
	width:200px;
	margin:-53px auto 0;
	background:white;
	background:rgba(255,255,255,0.5);
	background: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0)) fixed;
	background: -ms-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0)) fixed;
	background: -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0)) fixed;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), color-stop(0.5, rgba(255, 255, 255, 0.5)), to(rgba(255,255,255,0))) fixed;
	background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0)) fixed;
	background: linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0)) fixed;
	background: -webkit-gradient(radial, center center, 0, center center, 100, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0))) transparent;
}

/*------------------------------------*\
	BUTTONS
\*------------------------------------*/
#buttons a, #buttons a:visited {
	display:inline-block;
	margin:15px 0 10px;
	padding:12px 0 13px;
	-moz-border-radius:6px; 
	-webkit-border-radius:6px;
	border-radius:6px;
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	box-shadow:0 1px 3px rgba(0,0,0,0.5);
	border-bottom:1px solid rgba(0,0,0,0.25);
	cursor:pointer;
	font-size:1.5em;
	font-weight:bold;
	text-align:center;
	line-height:1;
	text-shadow:0 -1px 1px rgba(0,0,0,0.25);
}
#buttons a:hover {
	background-color:#111;
	color:#fff;
	text-decoration:none;
	-moz-box-shadow: 0 0 10px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0 0 10px rgba(255,255,255,0.5);
	box-shadow: 0 0 10px rgba(255,255,255,0.5);
	-moz-box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 1px 3px rgba(0,0,0,0.5);
}
#buttons a:focus {
	-moz-box-shadow: 0 0 10px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0 0 10px rgba(255,255,255,0.5);
	box-shadow: 0 0 10px rgba(255,255,255,0.5);
	-moz-box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 1px 3px rgba(0,0,0,0.5);
}
.boxshadow #buttons a:focus {
	outline: 0;
}
#download a, #download a:visited {
	background-color:#5ba027;
	background-image: -moz-linear-gradient(top, #84c63c, #4b9817);
	background-image: -ms-linear-gradient(top, #84c63c, #4b9817);
	background-image: -o-linear-gradient(top, #84c63c, #4b9817);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#84c63c), to(#4b9817));
	background-image: -webkit-linear-gradient(top, #84c63c, #4b9817);
	background-image: linear-gradient(top, #84c63c, #4b9817);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#84c63c', EndColorStr='#4b9817');
}
#download a:hover {
	background-color:#7bb947;
	background-image: -moz-linear-gradient(top, #8BE041, #50B319);
	background-image: -ms-linear-gradient(top, #8BE041, #50B319);
	background-image: -o-linear-gradient(top, #8BE041, #50B319);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8BE041), to(#50B319));
	background-image: -webkit-linear-gradient(top, #8BE041, #50B319);
	background-image: linear-gradient(top, #8BE041, #50B319);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#8BE041', EndColorStr='#50B319');
}
#donate a, #donate a:visited {
	background-color:#A17827;
	background-image: -moz-linear-gradient(top, #C78D3C, #997217); 
	background-image: -ms-linear-gradient(top, #C78D3C, #997217); 
	background-image: -o-linear-gradient(top, #C78D3C, #997217); 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#C78D3C), to(#997217)); 
	background-image: -webkit-linear-gradient(top, #C78D3C, #997217); 
	background-image: linear-gradient(top, #C78D3C, #997217);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#C78D3C', EndColorStr='#997217'); 
}
#donate a:hover {
	background-color:#BA9247;
	background-image: -moz-linear-gradient(top, #E0A641, #B38C19); 
	background-image: -ms-linear-gradient(top, #E0A641, #B38C19); 
	background-image: -o-linear-gradient(top, #E0A641, #B38C19); 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E0A641), to(#B38C19)); 
	background-image: -webkit-linear-gradient(top, #E0A641, #B38C19); 
	background-image: linear-gradient(top, #E0A641, #B38C19);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#E0A641', EndColorStr='#B38C19'); 
}

/*------------------------------------*\
	TYPE
\*------------------------------------*/
h1{
	font-weight:bold;
	font-size:3em;
	line-height:1;
	letter-spacing: 1px;
}
a{
	color:inherit;
}
a:hover {
	color:white;
}

/*------------------------------------*\
	IMAGES
\*------------------------------------*/
#logo{
	margin-bottom:1.5em;
}

/*------------------------------------*\
	NARROW
\*------------------------------------*/
/*
CSS for tablets and narrower devices
*/

@media (min-width: 721px) and (max-width: 960px){
	#logo img{
		width:256px;
		height:256px;
	}
	#logo{
		margin-top:70px;
	}
	#info{
		margin-top:30px;
	}
	header .grid-7 {
		width:385px;
	}
	header .grid-9 {
		width:295px;
	}
	footer {
		margin-top:30px;
	}
	#buttons .grid-4 {
		width:205px;
	}
	#buttons .grid-3 {
		width:160px;
	}
}
/*--- END NARROW ---*/

/*------------------------------------*\
	MOBILE
\*------------------------------------*/
/*
CSS for mobile devices.
Linearise it!
*/

@media (max-width: 720px){
	body{
		font-size:0.75em;
	}
	#logo img{
		width:128px;
		height:128px;
	}
	h1{
		text-align:center;
	}
	#info{
		margin-top:0;
	}
	#ribbon{
		display:none;
	}
	#buttons {
		text-align:center;
	}
	nav {
		margin-bottom:15px;
	}
	nav:after {
		margin-top:-6px;
	}
	footer {
		margin-top:30px;
	}
	footer:after {
		margin-top:-47px;
	}
}
/* Fix iPhone when in portrait */
@media (max-width: 410px){
	nav {
		width:230px;
		height:40px;
		margin:0 auto 15px;
		background-image: -webkit-gradient(radial, center 130, 0, center 130, 120, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
	}
	nav:before {
		top:44px;
	}
	nav:after {
		margin-top:-18px;
	}
	nav li:nth-child(3):after,
	nav li:nth-child(3)::after{
		content:"";
	}
}
/*--- END MOBILE ---*/