[submodule "js/libs/headjs"]
	path = js/libs/headjs
	url = git://github.com/headjs/headjs.git
[submodule "shimmer"]
	path = shimmer
	url = git://github.com/shimmerapp/shimmer.git
[submodule "docs/wiki-upstream"]
	path = docs/wiki-upstream
	url = git://github.com/victorpimentel/TVShows.wiki.git
